html {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
body {
    background: rgb(244,168,200);
    background: -moz-linear-gradient(100deg, rgba(244,168,200,1) 0%, rgb(145, 255, 182) 100%);
    background: -webkit-linear-gradient(100deg, rgba(244,168,200,1) 0%, rgb(145, 255, 182) 100%);
    background: linear-gradient(100deg, rgba(244,168,200,1) 0%, rgb(145, 255, 182) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4a8c8",endColorstr="#006df6",GradientType=1);
}
h1 {
    font-family: 'Oswald', sans-serif;
    background-color: antiquewhite;
    text-align: center;
}
.container {
    background: #fff;
    border-radius: 20px;
}
h5{
    color: rgb(233, 25, 25);
}
hr {
    margin-left: 0;
    width: 320px;
    background: #000;
}